@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: var(--mui-shape-borderRadius);
  --border-color: var(--mui-palette-divider);
  --primary-color: var(--mui-palette-primary-main);
  --background-color: var(--mui-palette-background-default);
  --background-color-rgb: var(--mui-palette-background-paperChannel);
  --header-height: 64px;
  --header-z-index: var(--mui-zIndex-appBar);
  --footer-z-index: 10;
  --customizer-z-index: var(--mui-zIndex-drawer);
  --search-z-index: var(--mui-zIndex-tooltip);
  --drawer-z-index: var(--mui-zIndex-drawer);
  --backdrop-color: rgb(var(--mui-mainColorChannels-light) / 0.5);
}

[data-mui-color-scheme='dark'] {
  --backdrop-color: rgb(21 16 43 / 0.6);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

html {
  display: flex;
  inline-size: 100%;
  min-block-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul:not([class]) {
  margin-block: 1rem;
  padding-inline-start: 40px;
}

/*! Do note remove following style */
/*
  Fix the popout / submenu closing issue when using hover trigger to open the menu and using
  perfectscrollbar where the bridge create with safe polygon by floating ui was not working
*/
[data-floating-ui-safe-polygon] .scrollbar-container {
  pointer-events: auto;
}
[data-floating-ui-safe-polygon] .scrollbar-container .ps__rail-y {
  pointer-events: none;
}

.ps__rail-y {
  inset-inline-end: 0 !important;
  inset-inline-start: auto !important;
  & .ps__thumb-y {
    inset-inline-end: 3px !important;
    inset-inline-start: auto !important;
    background-color: var(--mui-palette-divider);
    inline-size: 6px;
    &:hover,
    &:focus,
    &.ps--clicking {
      background-color: var(--mui-palette-action-disabled) !important;
    }
  }
  &:hover,
  &:focus,
  &.ps--clicking {
    background-color: var(--mui-palette-action-hover) !important;
  }
  &:hover,
  &:focus,
  &.ps--clicking {
    .ps__thumb-y {
      background-color: var(--mui-palette-action-disabled) !important;
    }
  }
}

.ts-vertical-nav-root {
  .ps__thumb-y {
    inline-size: 4px;
    &:hover,
    &:focus,
    &.ps--clicking {
      inline-size: 6px;
    }
  }
  .ps__rail-y {
    inline-size: 10px;
    &:hover,
    &:focus,
    &.ps--clicking {
      background-color: transparent !important;
      .ps__thumb-y {
        inline-size: 6px;
      }
    }
  }
}

:where([class^='ri-']) {
  font-size: 1.5rem;
}

code {
  font-family: inherit;
  padding-block: 2px;
  padding-inline: 4px;
  border-radius: 4px;
  font-size: 90%;
  color: var(--mui-palette-info-main);
  background-color: rgb(var(--mui-palette-info-mainChannel) / 0.08);
  border: 0;
}

.search-panel {
  display: flex;
}
.panel {
  display: flex;
  flex-direction: column;
  margin-block-end: 1rem;
}

.search-panel__filters {
  flex: 1;
  max-inline-size: 260px;
}

.search-panel__results {
  flex: 3;
  margin-inline-end: 20px;
}

.searchbox {
  margin-block-end: 2rem;
}

.pagination {
  margin-block: 2rem auto;
  text-align: center;
}

.hit__details {
  float: inline-end;
  margin-inline-start: 0rem;
}

li.ais-InfiniteHits-item {
  padding: 0.5rem;
}

.ais-InfiniteHits {
  .ais-InfiniteHits-loadMore {
    border-color: #831c78;
    color: #831c78;
  }
  .ais-InfiniteHits-loadMore:hover {
    border-color: #831c78;
    color: #831c78;
  }
  .ais-InfiniteHits-loadMore:focus {
    border-color: #831c78;
    color: #831c78;
    box-shadow: 0 0 0 1px #831c78;
  }
  .ais-InfiniteHits-loadMore:active {
    border-color: #831c78;
    color: #831c78;
    box-shadow: 0 0 0 1px #831c78;
  }

}

.ais-InfiniteHits-item {
  .hit__details {
    .ais-Highlight {
      .ais-Highlight-highlighted {
        font-weight: 500;
        color: #831c78;
        background-color: #ffffff;
      }
    }
    .ais-Snippet {
      font-size: 0.8rem;
    }
  }
  .ais-Highlight-nonHighlighted {
    font-weight: 500;
  }
}

.ais-RefinementList-item {
  .ais-RefinementList-label {
    .ais-RefinementList-count {
      display: none;
    }
    .ais-RefinementList-checkbox {
      box-shadow: none;
    }
    .ais-RefinementList-labelText {
      font-size: 0.75rem;
    }
  }
}

.ais-RefinementList-item--selected {
  .ais-RefinementList-label {
      .ais-RefinementList-checkbox {
          color: #831c78;
          background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23831C78%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%2220%206%209%2017%204%2012%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E');
      }
  }
}

/* .ais-Snippet {
  .ais-Snippet-nonHighlighted {
    margin-inline-start: 30px;
  }
} */

.ais-CurrentRefinements {
  .ais-CurrentRefinements-list {
      .ais-CurrentRefinements-item {
          background-color: #831c78;
          color: #fff;
          font-size: .75rem;
          margin-block-end: 10px;
          .ais-CurrentRefinements-category {
              .ais-CurrentRefinements-delete {
                  color: #fff;
                  &:hover {
                      color: #fff;
                  }
              }
          }
      }
  }
}

.ais-SearchBox {
  .ais-SearchBox-form {
    .ais-SearchBox-input {
      box-shadow: none;
    }
  }
}

.MuiCheckbox-root	{
  padding: 0.5rem;
}
